header {
    display: grid;
    grid-template-columns: 11fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 50px;
    padding-left: 50px;
    border-radius: 20px;
    background-color: #a8d2ea;
    font-size: 30px;
    font-weight:bolder;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.header-img {
    cursor: pointer;
}

.header-p {
    cursor: pointer;
}